.big-decimal-field{
	-fx-background-color:#000;
}

.big-decimal-field .arrow-button-up,.arrow-button-down{
	-fx-background-color:#000
}

.big-decimal-field .spinner-arrow-up,.spinner-arrow-down{
	-fx-stroke:green;
}

.big-decimal-field .arrow-button-up:pressed,.arrow-button-down:pressed{
	-fx-background-color:#333;
}