/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#notifyRoot {
	-fx-background-color:#222;
	-fx-fill: #222;
}


/*.chart {
	
}*/

.error .label{
	-fx-text-fill: red;
	
}

.chart-plot-background {
    -fx-background-color: #000;
}

.chart-vertical-grid-lines {
    -fx-stroke: green;
}
.chart-horizontal-grid-lines {
    -fx-stroke: green;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}


.default-color0.chart-series-line { -fx-stroke: green; }
.default-color1.chart-series-line { -fx-stroke: red; }
.default-color2.chart-series-line { -fx-stroke: yellow; }

.default-color0.chart-area-symbol { -fx-background-color: green,green; }
.default-color1.chart-area-symbol { -fx-background-color: red,red; }
.default-color2.chart-area-symbol { -fx-background-color: yellow,yellow; }

.default-color0.chart-series-area-line { -fx-stroke: green; }
.default-color1.chart-series-area-line { -fx-stroke: red; }
.default-color2.chart-series-area-line { -fx-stroke: yellow; }
 
.default-color0.chart-series-area-fill { -fx-fill: #0080008a}
.default-color1.chart-series-area-fill { -fx-fill: #ff00008a; }
.default-color2.chart-series-area-fill { -fx-fill: #FFFF008a; }

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.axis {
	-fx-tick-label-fill:green;
	-fx-minor-tick-visible: false;
}


/*ChoiceBox style */
.choice-box {-fx-background-color:#222}
.choice-box > .label > .text {-fx-fill:green}
.choice-box > .open-button > .arrow{-fx-background-color:green}
.choice-box .context-menu {-fx-background-color:#111}
.choice-box .context-menu .label > .text {-fx-fill:green}
.choice-box .context-menu .menu-item:focused{ -fx-background-color: #000}


/* Rippler */

.jfx-radio-button .jfx-rippler {
	-fx-rippler-radius: 1;
}

/* icons */
#resetIcon{
	-fx-fill: green;
}